<div id="chatbox" class="chatbox">
    <div class="tabs-wrapper">
        <div class="left_buttons">
            <button class="left" onclick="slide_left()"><</button>
        </div>
        <div class="tabs">
            <div class="tab current">
                <div class="name" onclick="select_tab(0)">Général</div>
            </div>
            <!-- <div class="tab">
                <div class="name" onclick="select_tab(1)">Personne</div>
                <button class="close" onclick="close_tab(1)">X</button>
            </div> -->
        </div>
        <div class="right_buttons">
            <button class="right" onclick="slide_right()">></button>
            <button id="chat_button_all" class="all" onclick="showChanList()">v</button>
            <button class="more" onclick="chat_add()">+</button>
        </div>
    </div>
    <div id="messages-wrapper" class="messages-wrapper">
        <div id="messages" class="messages"></div>
    </div>
    <div class="typebox">
        <input id="typefield" class="typefield" type="search" name=search {% if user==null %}disabled{% else %} placeholder="Ecrivez un message" {% endif %}>
    </div>
</div>