<div id="chatbox" class="chatbox">
    <div class="tabs-wrapper">
        <div class="left_buttons">
            <button class="left" onclick="slide_left()"><</button>
        </div>
        <div class="tabs">
            <div class="tab current" onclick="select_tab(0)">
                <div class="name">Général</div>
            </div>
            <div class="tab" onclick="select_tab(1)">
                <div class="name">Personne</div>
                <button class="close" onclick="close_tab(1)">X</button>
            </div>
            <div class="tab" onclick="select_tab(2)">
                <div class="name">KKun</div>
                <button class="close" onclick="close_tab(2)">X</button>
            </div>
        </div>
        <div class="right_buttons">
            <button class="right" onclick="slide_right()">></button>
            <button id="chat_button_all" class="all" onclick="showChanList()">v</button>
            <button class="more" onclick="chat_add()">+</button>
        </div>
    </div>
    <div id="messages-wrapper" class="messages-wrapper">
        <div id="messages" class="messages"></div>
    </div>
    <div class="typebox">
        <input id="typefield" class="typefield" type="search" name=search placeholder="Ecrivez un message">
    </div>
</div>