<div class="chatbox">
    <div class="tabs-wrapper">
        <div class="left_buttons">
            <button class="left"><</button>
        </div>
        <div class="tabs">
            <div class="tab current">
                <div class="name">Général</div>
                <button class="close">X</button>
            </div>
            <div class="tab">
                <div class="name">Personne</div>
                <button class="close">X</button>
            </div>
            <div class="tab">
                <div class="name">KKun</div>
                <button class="close">X</button>
            </div>
        </div>
        <div class="right_buttons">
            <button class="right">></button>
            <button class="all">v</button>
            <button class="more">+</button>
        </div>
    </div>
    <div class="messages-wrapper">
        <div class="messages">
            <div class=message>[0:00] User : Msg</div>
            <div class=message>[0:00] User : Msg</div>
            <div class=message>[0:00] User : Msg</div>
            <div class=message>[0:00] User : Msg</div>
            <div class=message>[0:00] User : Msg</div>
            <div class=message>[0:00] User : Msg</div>
            <div class=message>[0:00] User : Msg</div>
            <div class=message>[0:00] User : Msg</div>
            <div class=message>[0:00] User : Msg</div>
            <div class=message>[0:00] User : Msg</div>
            <div class=message>[0:00] User : Msg</div>
            <div class=message>[0:00] User : Msg</div>
            <div class=message>[0:00] User : Msg</div>
            <div class=message>[0:00] User : Msg</div>
            <div class=message>[0:00] User : Msg</div>
        </div>
    </div>
    <div class="typebox">
        <input class="typefield" type="search" name=search placeholder="Ecrivez un message">
    </div>
</div>