<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <!-- <link rel="shortcut icon" href="img/dofus-493837e.png"> -->
        <link rel="stylesheet" href="css/global.css">
        {% block head %}{% endblock %}
    </head>
    <body>
        {% block header %}
        <div class="header">
        </div>
        {% endblock %}
        {% block content %}{% endblock %}
        {% block footer %} 
        <div class="footer">
        </div>
        <script src="/socket.io/socket.io.js"></script>
        <script src="js/global.js"></script>
        {% endblock %}
    </body>
</html>
