.game {
    width: 100%;
    height: 100%;

    position: relative;
    border: 1px solid black;
}

.opponent_board {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.player_board {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.action_points {
    position: relative;
    margin: 1% 0;
    left: 50%;
    transform: translateX(-50%);
    width: 30%;
    border: 1px solid black;
    text-align: center;
    font-size: 1.8vh;
}

.card_wrapper {
    position: relative;
    display: flex;
    justify-content: center;
}

.deck {
    width: 4.5vh;
    height: 6vh;
    border: 1px solid black;
    border-radius: 5px;
    margin: 0 5px;
}

.cards {
    display: flex;
    margin: 0 15px;
}

.card {
    width: 4.5vh;
    height: 6vh;
    border: 1px solid black;
    border-radius: 5px;
    margin: 0 0.5vh;
    background-color: white;
    position: relative;
}

.card .card_back {
    position: absolute;
    transform: rotateZ(45deg);
    z-index: 1;
    top: 2vh;
    font-size: 1.5vh;
}

.deck .card {
    margin: 0.1px;
}

.storage {
    width: 4.5vh;
    height: 4.5vh;
    border: 1px solid black;
    border-radius: 5px;
    transform: translateY(15%);
}

.storage_value {
    margin-top: 50%;
    transform: translateY(-50%);
    text-align: center;
    font-size: 3vh;
}

.spell_history {
    position: absolute;
    left: 2vh;
    top: 50%;
    transform: translateY(-50%);

    height: 40%;
    border: 1px solid black;
    border-radius: 1vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5vh;
    overflow: hidden;
}

.spell_history .used_spell {
    width: 4vh;
    min-height: 4vh;
    margin: 0.5vh;
    border: 1px solid black;
    border-radius: 5px;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.game_board {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 70%;

    display: flex;
    flex-direction:column;
    border: 1px solid black;
    padding: 1.5%;
    border-radius: 10px;
}

.game_board .row {
    display: flex; 
    width: 100%;
    height: 100%;
    border-top: 1px solid black;
}

.game_board .row:last-child {
    border-bottom: 1px solid black;
}

.game_board .row .cell {
    width: 14.2857%;
    height: 100%;
    border-left: 1px solid black;
    display: flex;
    align-content: center;
}

.game_board .row .cell.movement {
    background-color: green;
}

.game_board .row .cell.path {
    background-color: red;
    cursor: grabbing;
}

.game_board .row .cell:last-child {
    border-right: 1px solid black;
}

.game_board .row .cell .entity {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    border: 1px solid black;
    border-radius: 50%;
    box-shadow: 1px 1px;
}

.game_board .row .cell .entity:hover {
    cursor: grab;
}

.game_board .row .cell .entity .detail {
    display: none;
    position: relative;
    width: 18vh;
    transform: translate(-35%, -80%);
    flex-direction: column;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0.5vh;
    text-align: center;
    justify-content: center;
    font-size: 1.7vh;
}

.game_board .row .cell .entity:hover .detail {
    display: flex; 
}

.game_board .row .cell .entity .detail .stats {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.timeline {
    position: absolute;
    right: 6%;
    width: 5%;
    top: 50%;
    transform: translateY(-50%);

    height: 60%;

    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
    background-color: orange;
}

.timeline .duration {
    border-bottom: 1px solid black;
    border-radius: 10px;
    width: 100%;
    height: 90%;
    background-color: white;
}

.timeline .duration .duration_bar {
    border-radius: 10px;
    width: 100%;
    height: 20%;
    background-color: lightgrey;
}

.timeline .end_turn {
    position: absolute;
    bottom: 1%;
    border: none;
    background: none;
    color: white;
    font-size: 3.5vh;
    padding: 0 4px 0 4px;
}

.timeline .end_turn:hover {
    flex: 0;
    cursor: pointer;
}

.challenge {
    background-color: white;
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: none; */
}

.challenge form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.challenge .opponent_input {
    text-align: center;
}