body {
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
}

.chat {
    width: 300px;
    height: 350px;
    margin: 10px;

    position: absolute;
    right: 0;
    bottom: 0;
}

.game-wrapper {
    position: absolute;
    width: 80vh;
    height: 80vh;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* === HEADER === */
.header_wrapper {
    position: fixed;
    width: 100%;
    display: flex;
    border: 1px solid black;
    background: white;
    z-index: 1;
}

.header_wrapper .title {
    flex: 1;
    font-size: 20px;
    font-weight: bold;
}

.header_wrapper button {
    background: white;
    border: none;
    border-left: 1px solid black;
    flex: 0;
    min-width: 80px;
}

.header_wrapper button:hover {
    cursor: pointer;
}

.header_wrapper .user_detail {
    position: absolute;
    right: 0;
    top: 24px;
    border: 1px solid black;
    padding: 2px 5px;
    display: none;
}

.header_wrapper .user_detail div {
    padding: 5px;
}

.header_wrapper .user_detail button {
    border: none;
    display: block;
    margin: 0 auto 5px auto;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 200px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal .modal_content {
    position: relative;
    background-color: white;
    margin: auto;
    padding: 0;
    width: 300px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-500px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.modal .modal_content .close {
      font-size: 20px;
      font-weight: bold;
      position: absolute;
      top: 0;
      right: 4px;
}

.modal .modal_content .close:hover,
.modal .modal_content .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal .modal_content .modal-header {
    padding: 4px;
}

.modal .modal_content .modal-header .content {
    text-align: center;
    font-variant: small-caps;
}

.modal .modal_content .modal-body {
    padding: 10px 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    text-align: center;
}

.modal .modal_content .modal-body .input_name {
    margin-bottom: 12px;
}

.modal .modal_content .modal-body input {
    border: none;
    border-bottom: 1px solid black;
    width: 150px;
    margin-bottom: 12px;
    text-align: center;
}

.modal .modal_content .modal-footer {
    text-align: center;
}

.modal .modal_content .modal-footer .content {
    border: none;
    background: transparent;
    border-radius: 0 0 10px 10px;
    color: black;
    width: 100%;
    height: 100%;
    padding: 8px 0;
}

.modal .modal_content .modal-footer .content.invalid {
    color: grey;
}

.modal .modal_content .modal-footer .content:hover {
    cursor: pointer;
    background-color: #eee; 
}

.modal .modal_content .modal-footer .content.invalid:hover {
    cursor: default;
    background-color: #fff; 
}

/* === CHATBOX === */
.chatbox {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid black;
    z-index: 1;
    height: 100%;
    width: 100%;
}

.chan_list {
    position: absolute;
    right: 0;
    top: 18px;
    padding: 4px;
    border: 1px solid black;
    background: white;
    font-size: 14px;
}

.chan_list .chan {
    text-align: left;
    cursor: pointer;
    margin: 2px;
}

.tabs-wrapper {
    display: flex;
    font-size: 15px;
    border-bottom: 1px solid black;
}

.tabs-wrapper button {
    flex: 0 0 auto;
    padding: 0 5px 0 5px;
    height: 100%;
    border: none;
    background: none;
}

.tabs-wrapper .left_buttons {
    flex: 0;
    display: flex;
}

.tabs-wrapper .left_buttons * {
    border-right: 1px solid black;
    padding-bottom: 1px;
}

.tabs-wrapper .right_buttons {
    flex: 0;
    display: flex;
}

.tabs-wrapper .right_buttons button {
    border-left: 1px solid black;
    padding-bottom: 1px;
}

.tabs-wrapper button:hover {
    cursor: pointer;
}

.tabs-wrapper .right_buttons .chan_list .chan:hover {
    cursor: pointer;
}

.tabs-wrapper .tabs {
    flex: 1;
    display: flex;
    overflow: hidden;
}

.tabs-wrapper .tabs .tab {
    display: flex;
    border-right: 1px solid black;
}

.tabs-wrapper .tabs .tab.current {
    background-color: lightgrey;
}

.tabs-wrapper .tabs .tab .name {
    padding: 0 5px 0 5px; 
}

.tabs-wrapper .tabs .tab .name:hover {
    cursor: pointer;
}

.tabs-wrapper .tabs .tab .close {
    padding: 0 5px 1px 0;
    height: 100%;
    border: none;
    background: none;
}

.messages-wrapper {
    flex: 1;
    display: flex;
    overflow: auto;
}

.messages {
    padding: 3px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.messages .message {
    padding: 2px;
    overflow-wrap: break-word;
}

.messages .message:first-child {
    border: none;
}

.typebox {
    display: flex;
    border-top: 1px solid black;
}

.typebox input {
    padding: 5px;
    width: 100%;
    border: none;
    font-family: inherit;
    font-size: inherit;
}

/* === GAME BOARD === */
.game {
    width: 100%;
    height: 100%;

    position: relative;
    border: 1px solid black;
}

.opponent_board {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.player_board {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.action_points {
    position: relative;
    margin: 1% 0;
    left: 50%;
    transform: translateX(-50%);
    width: 30%;
    border: 1px solid black;
    text-align: center;
    font-size: 1.8vh;
}

.card_wrapper {
    position: relative;
    display: flex;
    justify-content: center;
}

.deck {
    width: 4.5vh;
    height: 6vh;
    border: 1px solid black;
    border-radius: 5px;
    margin: 0 5px;
}

.cards {
    display: flex;
    margin: 0 15px;
}

.card {
    width: 4.5vh;
    height: 6vh;
    border: 1px solid black;
    border-radius: 5px;
    margin: 0 5px;
    background-color: white;
    position: relative;
}

.card .card_back {
    position: absolute;
    transform: rotateZ(45deg);
    z-index: 1;
    top: 2vh;
    font-size: 1.5vh;
}

.deck .card {
    margin: 0.1px;
}

.storage {
    width: 4.5vh;
    height: 4.5vh;
    border: 1px solid black;
    border-radius: 5px;
    transform: translateY(15%);
}

.storage_value {
    margin-top: 50%;
    transform: translateY(-50%);
    text-align: center;
    font-size: 3vh;
}

.spell_history {
    position: absolute;
    left: 2vh;
    top: 50%;
    transform: translateY(-50%);

    height: 40%;
    border: 1px solid black;
    border-radius: 1vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5vh;
    overflow: hidden;
}

.spell_history .used_spell {
    width: 4vh;
    min-height: 4vh;
    margin: 0.5vh;
    border: 1px solid black;
    border-radius: 5px;
}

.game_board {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 70%;

    display: flex;
    flex-direction:column;
    border: 1px solid black;
    padding: 1.5%;
    border-radius: 10px;
}

.game_board .row {
    display: flex; 
    width: 100%;
    height: 100%;
    border-top: 1px solid black;
}

.game_board .row:last-child {
    border-bottom: 1px solid black;
}

.game_board .row .cell {
    width: 14.2857%;
    height: 100%;
    border-left: 1px solid black;
    display: flex;
    align-content: center;
}

.game_board .row .cell:last-child {
    border-right: 1px solid black;
}

.game_board .row .cell .entity {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    border: 1px solid black;
    border-radius: 50%;
    box-shadow: 1px 1px;
}

.game_board .row .cell .entity .detail {
    display: none;
    position: relative;
    width: 18vh;
    transform: translate(-35%, -80%);
    flex-direction: column;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0.5vh;
    text-align: center;
    justify-content: center;
    font-size: 1.7vh;
}

.game_board .row .cell .entity:hover .detail {
    display: flex; 
}

.game_board .row .cell .entity .detail .stats {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.timeline {
    position: absolute;
    right: 6%;
    width: 5%;
    top: 50%;
    transform: translateY(-50%);

    height: 60%;

    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
    background-color: orange;
}

.timeline .duration {
    border-bottom: 1px solid black;
    border-radius: 10px;
    width: 100%;
    height: 90%;
    background-color: white;
}

.timeline .duration .duration_bar {
    border-radius: 10px;
    width: 100%;
    height: 20%;
    background-color: lightgrey;
}

.timeline .end_turn {
    position: absolute;
    bottom: 1%;
    border: none;
    background: none;
    color: white;
    font-size: 3.5vh;
    padding: 0 4px 0 4px;
}

.timeline .end_turn:hover {
    flex: 0;
    cursor: pointer;
}